// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.buttonPrimary {
  background-color: $brightGreen;
  cursor: pointer;
  height: 40px;
  padding: 10px;
}
